@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-green-color: #00551c;
    --light-color: #fff;
    --dark-color: #000;
    --gray-color: #c0c0c0;
    --transition: all 300ms ease-in-out;
}

/* centering */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* applying the Google font to the document */
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    color: var(--dark-color);
    background-color: var(--gray-color);
}

.start-btn,
.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    transition: all 0.3 ease;
}

.info-box.activeInfo,
.quiz_box.activeQuiz {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* start quiz styling*/

.start-btn button {
    font-size: 5rem;
    font-weight: 500;
    color: var(--light-green-color);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--light-color);
    cursor: pointer;
    transform: scale(1.2rem);
}

.start-btn.show {
    display: block;
}

.info-box {
    width: 540px;
    background: var(--light-color);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--gray-color);
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-list {
    padding: 15px 35px;
}

.info {
    margin: 5px 0;
    font-size: 17px;
}

.info span {
    font-weight: 700;
    color: var(--light-green-color);
}

.buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid var(--gray-color);
}

.buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--light-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

button.restart {
    color: var(--light-color);
    border-color: var(--light-green-color);
    background: var(--light-green-color);
}

button.restart:hover {
    background: #274329;
}

button.restart:active {
    transform: scale(0.99);
}

button.quit {
    color: var(--light-green-color);
    border-color: var(--light-green-color);
}

button.quit:hover {
    color: var(--light-color);
    background: var(--light-green-color);
}

button.quit:active{
    transform: scale(0.99);
}

.wrapper {
    background-color: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 600px;
    height: 680px;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    display: none;
}

.wrapper.activeQuiz {
    display: block; /* Show the wrapper when the quiz starts */
}

.quiz-title {
    text-align: center;
    font-size: 2rem;
}

.quiz-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 24px;
}


.quiz-question {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.quiz-options {
    list-style-type: none;
    margin: 1rem 0;
}

.quiz-options li {
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--light-color);
    box-shadow: 0 5px 0 0 #274329;
    transition: var(--transition);
}

.quiz-options li:hover {
    background-color: var(--gray-color);
    color: var(--dark-color);
    border-color: var(--gray-color);
    box-shadow: 0 5px 0 0 #989898;
}

.quiz-options li:active {
    transform: scale(0.99);
}

/* Style for selected option */
.quiz-options li.selected {
    background-color: var(--gray-color);
    color: var(--dark-color);
    border-color: var(--gray-color);
    box-shadow: 0 5px 0 0 #989898;
}

/* selected button styling */
.selected {
    background-color: var(--gray-color)!important;
    color: var(--dark-color)!important;
    border-color: var(--gray-color)!important;
    box-shadow: 0 5px 0 0 #989898!important;
}

.quiz-foot button {
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    background-color: var(--gray-color);
    color: var(--dark-color);
    letter-spacing: 3px;
    transition: var(--transition);
    box-shadow: 0 5px 0 0 #989898;
}

.quiz-foot button:hover {
    background-color: #e6e6e6;
    box-shadow: 0 5px 0 0 #a7a7a7;
}

.quiz-foot button:active {
    transform: scale(0.95);
}

#play-again,
#username-input 
#save-score-btn {
    display: none;
}

#username-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    margin-top: 10px;
    width: 300px;
}

.quiz.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.score-container {
    border: 5px solid var(--gray-color);
    border-radius: 5px;
    padding: 10px;
}

.score {
    display: flex;
    align-items: center;
}

.score-label {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--light-green-color);
}

.score-value {
    font-weight: bold;
    color: var(--light-green-color);
    margin-left: 5px;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Adjusted to position time to the right */
    margin-bottom: 10px;
}

.timer-box {
    background-color: var(--gray-color);
    padding: 5px 10px;
    border-radius: 5px;
}
.quiz-title {
    font-size: 3rem;
}

.time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
    color: var(--dark-color);
}

.timer-sec {
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
    margin-top: 5px;
    text-align: center;
    background-color: var(--light-green-color);
    padding: 5px;
    border-radius: 5px;
} 
/*Add a class to hide the elements initially */
.hidden {
    display: none;
}  

/* Style for the high score page */
.highscore-page {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    color: var(--dark-color);
}

/* Style for the high score list */
.highscore-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.highscore-list li {
    margin-bottom: 30px;
}

/* Style for the score entries */
.highscore-list li span {
    font-weight: 600;
    color: var(--light-green-color);
}

/* Style for the "Save Score" button */
#save-score-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--dark-color);
    background-color: var(--light-green-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
  
#save-score-btn:hover {
    background-color: var(--gray-color)
}
  
/* Style for the "Play Again" button */
#play-again {
    position: absolute;
    bottom: 35px; /* Adjust this value to control the vertical position */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--light-green-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#play-again:hover {
    background-color: forestgreen;
}

/* Style for the username input */
#username {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
}  

@media(max-width: 678px) {
    .quiz-title {
        font-size: 1.6rem;
    }
    .wrapper {
        margin: 3rem 0;
        width: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .quiz-foot button{
        font-size: 1rem;
    }
}

